<div>
    <form [formGroup]="filterForm" novalidate>
        <mat-form-field class="full-width">
          <input matInput id="filter" placeholder="Filter" value="" formControlName="filter" />
        </mat-form-field>
    </form>
</div>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cognome">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Cognome </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.cognome}} </mat-cell>
      </ng-container>

    <ng-container matColumnDef="dataDiNascita">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Created </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dataDiNascita | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <button mat-icon-button (click)="onDeleteCustomer.emit(element)"><mat-icon>delete</mat-icon></button> 
        <a mat-icon-button [routerLink]="['/details', element.id]"><mat-icon>edit</mat-icon></a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<mat-paginator [length]="totalCount"
  [pageSize]="paginationService.pageSize"
  [pageSizeOptions]="paginationService.selectItemsPerPage" 
  (page)="onPageSwitch.emit($event)">
</mat-paginator>