<header>
  <nav>
      <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
          <div fxFlex="40">
              <a mat-raised-button 
                routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                *ngFor="let item of menuItems" routerLink="{{item.link}}">
                  {{item.name}}
              </a>
              <a mat-raised-button 
                routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                routerLink="/pazienti/all">
                  pazienti
              </a>
          </div>
      </div>
  </nav>
</header>